# Node.js
frontend/node_modules/
frontend/dist/

# Python
Backend/__pycache__/
*.pyc

# ML model
Backend/model*/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Dataset files
BABE_combined.csv
SBIC_full_dataset.csv
allsides_8values.csv
wino_bias_full.csv
